<%= form_with(model: blog, local: true,  url:confirm_blogs_path) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><%= form.label :title %></p>
    <p><%= form.text_field :title %></p>
  </div>

  <div class="field">
    <p><%= form.label :content %></p>
    <p><%= form.text_area :content %></p>
  </div>

  <div class="field">
    <p><%= form.label :image %></p>
    <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
    <p><%= form.file_field :image %></p>
    <%= form.hidden_field :image_cache %>
  </div>

  <!-- <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
