<br>
<br>
<div class="main">
 <div class="main-logo">
   Blogs
   <button type="button" class="btn btn-default"><%= link_to 'New Blog', new_blog_path %></button>
 </div>
 <br>
  <div class="container">
    <div class="alt-table-responsive">
      <table class="table　table-hover" id="main_table">
        <thead>
          <tr>
            <th>User</th>
            <th>Title</th>
            <th>Content</th>
            <th>Image</th>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
          <% @blogs.each do |blog| %>
            <tr>
              <td class="col-ms-1 col-md-1"><%= blog.user.name %></td>
              <td class="col-ms-2 col-md-2"><%= blog.title %></td>
              <td class="col-ms-5 col-md-5"><%= blog.content %></td>
              <td class="col-ms-1 col-md-1"><%= image_tag blog.image.url %></td>
              <td class="col-ms-1 col-md-1"><%= link_to 'Show', blog %></td>
              <td class="col-ms-1 col-md-1"><%= link_to 'Edit', edit_blog_path(blog), data: { confirm: '本当に編集していいですか？' } %></td>
              <td class="col-ms-1 col-md-1"><%= link_to 'Destroy', blog, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<br>
</div>
<br>
<br>
