<table>
  <tr>
    <th><h3>Sign up</h3></th>
  </tr>
  <tr>
    <th>
      <% if @user.errors.any? %>
      <div id="error_explanation">
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h3>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      </div>
      <% end %>
    </th>
  </tr>
      <%= form_with(model: @user, local: true) do |f| %>
  <tr>
    <td><%= f.label :name, "お名前" %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.label :email %></td>
    <td><%= f.email_field :email %></td>
  </tr>
  <tr>
    <td><%= f.label :password, "パスワード" %></td>
    <td><%= f.password_field :password %></td>
  </tr>
  <tr>
    <td><%= f.label :password_confirmation, "パスワード（確認用）" %></td>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>
  <tr>
    <td><%= f.submit "Sign Up!" %></td>
  </tr>
      <% end %>
</table>
